.libs/
Makefile
api/.deps/
api/.libs/
api/Makefile
api/apiplan.lo
api/apiplan.o
api/configure.lo
api/configure.o
api/execute-dft-c2r.lo
api/execute-dft-c2r.o
api/execute-dft-r2c.lo
api/execute-dft-r2c.o
api/execute-dft.lo
api/execute-dft.o
api/execute-r2r.lo
api/execute-r2r.o
api/execute-split-dft-c2r.lo
api/execute-split-dft-c2r.o
api/execute-split-dft-r2c.lo
api/execute-split-dft-r2c.o
api/execute-split-dft.lo
api/execute-split-dft.o
api/execute.lo
api/execute.o
api/export-wisdom-to-file.lo
api/export-wisdom-to-file.o
api/export-wisdom-to-string.lo
api/export-wisdom-to-string.o
api/export-wisdom.lo
api/export-wisdom.o
api/f77api.lo
api/f77api.o
api/fftw3.f03
api/flops.lo
api/flops.o
api/forget-wisdom.lo
api/forget-wisdom.o
api/import-system-wisdom.lo
api/import-system-wisdom.o
api/import-wisdom-from-file.lo
api/import-wisdom-from-file.o
api/import-wisdom-from-string.lo
api/import-wisdom-from-string.o
api/import-wisdom.lo
api/import-wisdom.o
api/libapi.la
api/malloc.lo
api/malloc.o
api/map-r2r-kind.lo
api/map-r2r-kind.o
api/mapflags.lo
api/mapflags.o
api/mkprinter-file.lo
api/mkprinter-file.o
api/mktensor-iodims.lo
api/mktensor-iodims.o
api/mktensor-iodims64.lo
api/mktensor-iodims64.o
api/mktensor-rowmajor.lo
api/mktensor-rowmajor.o
api/plan-dft-1d.lo
api/plan-dft-1d.o
api/plan-dft-2d.lo
api/plan-dft-2d.o
api/plan-dft-3d.lo
api/plan-dft-3d.o
api/plan-dft-c2r-1d.lo
api/plan-dft-c2r-1d.o
api/plan-dft-c2r-2d.lo
api/plan-dft-c2r-2d.o
api/plan-dft-c2r-3d.lo
api/plan-dft-c2r-3d.o
api/plan-dft-c2r.lo
api/plan-dft-c2r.o
api/plan-dft-r2c-1d.lo
api/plan-dft-r2c-1d.o
api/plan-dft-r2c-2d.lo
api/plan-dft-r2c-2d.o
api/plan-dft-r2c-3d.lo
api/plan-dft-r2c-3d.o
api/plan-dft-r2c.lo
api/plan-dft-r2c.o
api/plan-dft.lo
api/plan-dft.o
api/plan-guru-dft-c2r.lo
api/plan-guru-dft-c2r.o
api/plan-guru-dft-r2c.lo
api/plan-guru-dft-r2c.o
api/plan-guru-dft.lo
api/plan-guru-dft.o
api/plan-guru-r2r.lo
api/plan-guru-r2r.o
api/plan-guru-split-dft-c2r.lo
api/plan-guru-split-dft-c2r.o
api/plan-guru-split-dft-r2c.lo
api/plan-guru-split-dft-r2c.o
api/plan-guru-split-dft.lo
api/plan-guru-split-dft.o
api/plan-guru64-dft-c2r.lo
api/plan-guru64-dft-c2r.o
api/plan-guru64-dft-r2c.lo
api/plan-guru64-dft-r2c.o
api/plan-guru64-dft.lo
api/plan-guru64-dft.o
api/plan-guru64-r2r.lo
api/plan-guru64-r2r.o
api/plan-guru64-split-dft-c2r.lo
api/plan-guru64-split-dft-c2r.o
api/plan-guru64-split-dft-r2c.lo
api/plan-guru64-split-dft-r2c.o
api/plan-guru64-split-dft.lo
api/plan-guru64-split-dft.o
api/plan-many-dft-c2r.lo
api/plan-many-dft-c2r.o
api/plan-many-dft-r2c.lo
api/plan-many-dft-r2c.o
api/plan-many-dft.lo
api/plan-many-dft.o
api/plan-many-r2r.lo
api/plan-many-r2r.o
api/plan-r2r-1d.lo
api/plan-r2r-1d.o
api/plan-r2r-2d.lo
api/plan-r2r-2d.o
api/plan-r2r-3d.lo
api/plan-r2r-3d.o
api/plan-r2r.lo
api/plan-r2r.o
api/print-plan.lo
api/print-plan.o
api/rdft2-pad.lo
api/rdft2-pad.o
api/the-planner.lo
api/the-planner.o
api/version.lo
api/version.o
config.h
config.log
config.status
dft/.deps/
dft/.libs/
dft/Makefile
dft/bluestein.lo
dft/bluestein.o
dft/buffered.lo
dft/buffered.o
dft/conf.lo
dft/conf.o
dft/ct.lo
dft/ct.o
dft/dftw-direct.lo
dft/dftw-direct.o
dft/dftw-directsq.lo
dft/dftw-directsq.o
dft/dftw-generic.lo
dft/dftw-generic.o
dft/dftw-genericbuf.lo
dft/dftw-genericbuf.o
dft/direct.lo
dft/direct.o
dft/generic.lo
dft/generic.o
dft/indirect-transpose.lo
dft/indirect-transpose.o
dft/indirect.lo
dft/indirect.o
dft/kdft-dif.lo
dft/kdft-dif.o
dft/kdft-difsq.lo
dft/kdft-difsq.o
dft/kdft-dit.lo
dft/kdft-dit.o
dft/kdft.lo
dft/kdft.o
dft/libdft.la
dft/nop.lo
dft/nop.o
dft/plan.lo
dft/plan.o
dft/problem.lo
dft/problem.o
dft/rader.lo
dft/rader.o
dft/rank-geq2.lo
dft/rank-geq2.o
dft/scalar/.deps/
dft/scalar/.libs/
dft/scalar/Makefile
dft/scalar/codelets/.deps/
dft/scalar/codelets/.libs/
dft/scalar/codelets/Makefile
dft/scalar/codelets/codlist.lo
dft/scalar/codelets/codlist.o
dft/scalar/codelets/libdft_scalar_codelets.la
dft/scalar/codelets/n1_10.lo
dft/scalar/codelets/n1_10.o
dft/scalar/codelets/n1_11.lo
dft/scalar/codelets/n1_11.o
dft/scalar/codelets/n1_12.lo
dft/scalar/codelets/n1_12.o
dft/scalar/codelets/n1_13.lo
dft/scalar/codelets/n1_13.o
dft/scalar/codelets/n1_14.lo
dft/scalar/codelets/n1_14.o
dft/scalar/codelets/n1_15.lo
dft/scalar/codelets/n1_15.o
dft/scalar/codelets/n1_16.lo
dft/scalar/codelets/n1_16.o
dft/scalar/codelets/n1_2.lo
dft/scalar/codelets/n1_2.o
dft/scalar/codelets/n1_20.lo
dft/scalar/codelets/n1_20.o
dft/scalar/codelets/n1_25.lo
dft/scalar/codelets/n1_25.o
dft/scalar/codelets/n1_3.lo
dft/scalar/codelets/n1_3.o
dft/scalar/codelets/n1_32.lo
dft/scalar/codelets/n1_32.o
dft/scalar/codelets/n1_4.lo
dft/scalar/codelets/n1_4.o
dft/scalar/codelets/n1_5.lo
dft/scalar/codelets/n1_5.o
dft/scalar/codelets/n1_6.lo
dft/scalar/codelets/n1_6.o
dft/scalar/codelets/n1_64.lo
dft/scalar/codelets/n1_64.o
dft/scalar/codelets/n1_7.lo
dft/scalar/codelets/n1_7.o
dft/scalar/codelets/n1_8.lo
dft/scalar/codelets/n1_8.o
dft/scalar/codelets/n1_9.lo
dft/scalar/codelets/n1_9.o
dft/scalar/codelets/q1_2.lo
dft/scalar/codelets/q1_2.o
dft/scalar/codelets/q1_3.lo
dft/scalar/codelets/q1_3.o
dft/scalar/codelets/q1_4.lo
dft/scalar/codelets/q1_4.o
dft/scalar/codelets/q1_5.lo
dft/scalar/codelets/q1_5.o
dft/scalar/codelets/q1_6.lo
dft/scalar/codelets/q1_6.o
dft/scalar/codelets/q1_8.lo
dft/scalar/codelets/q1_8.o
dft/scalar/codelets/t1_10.lo
dft/scalar/codelets/t1_10.o
dft/scalar/codelets/t1_12.lo
dft/scalar/codelets/t1_12.o
dft/scalar/codelets/t1_15.lo
dft/scalar/codelets/t1_15.o
dft/scalar/codelets/t1_16.lo
dft/scalar/codelets/t1_16.o
dft/scalar/codelets/t1_2.lo
dft/scalar/codelets/t1_2.o
dft/scalar/codelets/t1_20.lo
dft/scalar/codelets/t1_20.o
dft/scalar/codelets/t1_25.lo
dft/scalar/codelets/t1_25.o
dft/scalar/codelets/t1_3.lo
dft/scalar/codelets/t1_3.o
dft/scalar/codelets/t1_32.lo
dft/scalar/codelets/t1_32.o
dft/scalar/codelets/t1_4.lo
dft/scalar/codelets/t1_4.o
dft/scalar/codelets/t1_5.lo
dft/scalar/codelets/t1_5.o
dft/scalar/codelets/t1_6.lo
dft/scalar/codelets/t1_6.o
dft/scalar/codelets/t1_64.lo
dft/scalar/codelets/t1_64.o
dft/scalar/codelets/t1_7.lo
dft/scalar/codelets/t1_7.o
dft/scalar/codelets/t1_8.lo
dft/scalar/codelets/t1_8.o
dft/scalar/codelets/t1_9.lo
dft/scalar/codelets/t1_9.o
dft/scalar/codelets/t2_10.lo
dft/scalar/codelets/t2_10.o
dft/scalar/codelets/t2_16.lo
dft/scalar/codelets/t2_16.o
dft/scalar/codelets/t2_20.lo
dft/scalar/codelets/t2_20.o
dft/scalar/codelets/t2_25.lo
dft/scalar/codelets/t2_25.o
dft/scalar/codelets/t2_32.lo
dft/scalar/codelets/t2_32.o
dft/scalar/codelets/t2_4.lo
dft/scalar/codelets/t2_4.o
dft/scalar/codelets/t2_5.lo
dft/scalar/codelets/t2_5.o
dft/scalar/codelets/t2_64.lo
dft/scalar/codelets/t2_64.o
dft/scalar/codelets/t2_8.lo
dft/scalar/codelets/t2_8.o
dft/scalar/libdft_scalar.la
dft/scalar/n.lo
dft/scalar/n.o
dft/scalar/t.lo
dft/scalar/t.o
dft/simd/Makefile
dft/simd/altivec/.deps/
dft/simd/altivec/Makefile
dft/simd/avx/.deps/
dft/simd/avx/Makefile
dft/simd/common/Makefile
dft/simd/neon/.deps/
dft/simd/neon/Makefile
dft/simd/sse2/.deps/
dft/simd/sse2/Makefile
dft/solve.lo
dft/solve.o
dft/vrank-geq1.lo
dft/vrank-geq1.o
dft/zero.lo
dft/zero.o
doc/FAQ/Makefile
doc/Makefile
fftw.pc
fftw3.pc
genfft/Makefile
kernel/.deps/
kernel/.libs/
kernel/Makefile
kernel/align.lo
kernel/align.o
kernel/alloc.lo
kernel/alloc.o
kernel/assert.lo
kernel/assert.o
kernel/awake.lo
kernel/awake.o
kernel/buffered.lo
kernel/buffered.o
kernel/cpy1d.lo
kernel/cpy1d.o
kernel/cpy2d-pair.lo
kernel/cpy2d-pair.o
kernel/cpy2d.lo
kernel/cpy2d.o
kernel/ct.lo
kernel/ct.o
kernel/debug.lo
kernel/debug.o
kernel/extract-reim.lo
kernel/extract-reim.o
kernel/hash.lo
kernel/hash.o
kernel/iabs.lo
kernel/iabs.o
kernel/kalloc.lo
kernel/kalloc.o
kernel/libkernel.la
kernel/md5-1.lo
kernel/md5-1.o
kernel/md5.lo
kernel/md5.o
kernel/minmax.lo
kernel/minmax.o
kernel/ops.lo
kernel/ops.o
kernel/pickdim.lo
kernel/pickdim.o
kernel/plan.lo
kernel/plan.o
kernel/planner.lo
kernel/planner.o
kernel/primes.lo
kernel/primes.o
kernel/print.lo
kernel/print.o
kernel/problem.lo
kernel/problem.o
kernel/rader.lo
kernel/rader.o
kernel/scan.lo
kernel/scan.o
kernel/solver.lo
kernel/solver.o
kernel/solvtab.lo
kernel/solvtab.o
kernel/stride.lo
kernel/stride.o
kernel/tensor.lo
kernel/tensor.o
kernel/tensor1.lo
kernel/tensor1.o
kernel/tensor2.lo
kernel/tensor2.o
kernel/tensor3.lo
kernel/tensor3.o
kernel/tensor4.lo
kernel/tensor4.o
kernel/tensor5.lo
kernel/tensor5.o
kernel/tensor7.lo
kernel/tensor7.o
kernel/tensor8.lo
kernel/tensor8.o
kernel/tensor9.lo
kernel/tensor9.o
kernel/tile2d.lo
kernel/tile2d.o
kernel/timer.lo
kernel/timer.o
kernel/transpose.lo
kernel/transpose.o
kernel/trig.lo
kernel/trig.o
kernel/twiddle.lo
kernel/twiddle.o
libbench2/.deps/
libbench2/Makefile
libbench2/after-ccopy-from.o
libbench2/after-ccopy-to.o
libbench2/after-hccopy-from.o
libbench2/after-hccopy-to.o
libbench2/after-rcopy-from.o
libbench2/after-rcopy-to.o
libbench2/allocate.o
libbench2/aset.o
libbench2/bench-cost-postprocess.o
libbench2/bench-exit.o
libbench2/bench-main.o
libbench2/can-do.o
libbench2/caset.o
libbench2/dotens2.o
libbench2/info.o
libbench2/libbench2.a
libbench2/main.o
libbench2/mflops.o
libbench2/mp.o
libbench2/my-getopt.o
libbench2/ovtpvt.o
libbench2/pow2.o
libbench2/problem.o
libbench2/report.o
libbench2/speed.o
libbench2/tensor.o
libbench2/timer.o
libbench2/useropt.o
libbench2/util.o
libbench2/verify-dft.o
libbench2/verify-lib.o
libbench2/verify-r2r.o
libbench2/verify-rdft2.o
libbench2/verify.o
libbench2/zero.o
libfftw3.la
libtool
m4/Makefile
mpi/.deps/
mpi/.libs/
mpi/Makefile
mpi/any-true.lo
mpi/any-true.o
mpi/api.lo
mpi/api.o
mpi/block.lo
mpi/block.o
mpi/choose-radix.lo
mpi/choose-radix.o
mpi/conf.lo
mpi/conf.o
mpi/dft-problem.lo
mpi/dft-problem.o
mpi/dft-rank-geq2-transposed.lo
mpi/dft-rank-geq2-transposed.o
mpi/dft-rank-geq2.lo
mpi/dft-rank-geq2.o
mpi/dft-rank1-bigvec.lo
mpi/dft-rank1-bigvec.o
mpi/dft-rank1.lo
mpi/dft-rank1.o
mpi/dft-serial.lo
mpi/dft-serial.o
mpi/dft-solve.lo
mpi/dft-solve.o
mpi/dtensor.lo
mpi/dtensor.o
mpi/f03-wrap.lo
mpi/f03-wrap.o
mpi/fftw3-mpi.f03
mpi/fftw3l-mpi.f03
mpi/libfftw3_mpi.la
mpi/mpi-bench
mpi/mpi_bench-fftw-bench.o
mpi/mpi_bench-hook.o
mpi/mpi_bench-mpi-bench.o
mpi/rdft-problem.lo
mpi/rdft-problem.o
mpi/rdft-rank-geq2-transposed.lo
mpi/rdft-rank-geq2-transposed.o
mpi/rdft-rank-geq2.lo
mpi/rdft-rank-geq2.o
mpi/rdft-rank1-bigvec.lo
mpi/rdft-rank1-bigvec.o
mpi/rdft-serial.lo
mpi/rdft-serial.o
mpi/rdft-solve.lo
mpi/rdft-solve.o
mpi/rdft2-problem.lo
mpi/rdft2-problem.o
mpi/rdft2-rank-geq2-transposed.lo
mpi/rdft2-rank-geq2-transposed.o
mpi/rdft2-rank-geq2.lo
mpi/rdft2-rank-geq2.o
mpi/rdft2-serial.lo
mpi/rdft2-serial.o
mpi/rdft2-solve.lo
mpi/rdft2-solve.o
mpi/rearrange.lo
mpi/rearrange.o
mpi/transpose-alltoall.lo
mpi/transpose-alltoall.o
mpi/transpose-pairwise.lo
mpi/transpose-pairwise.o
mpi/transpose-problem.lo
mpi/transpose-problem.o
mpi/transpose-recurse.lo
mpi/transpose-recurse.o
mpi/transpose-solve.lo
mpi/transpose-solve.o
mpi/wisdom-api.lo
mpi/wisdom-api.o
rdft/.deps/
rdft/.libs/
rdft/Makefile
rdft/buffered.lo
rdft/buffered.o
rdft/buffered2.lo
rdft/buffered2.o
rdft/conf.lo
rdft/conf.o
rdft/ct-hc2c-direct.lo
rdft/ct-hc2c-direct.o
rdft/ct-hc2c.lo
rdft/ct-hc2c.o
rdft/dft-r2hc.lo
rdft/dft-r2hc.o
rdft/dht-r2hc.lo
rdft/dht-r2hc.o
rdft/dht-rader.lo
rdft/dht-rader.o
rdft/direct-r2c.lo
rdft/direct-r2c.o
rdft/direct-r2r.lo
rdft/direct-r2r.o
rdft/direct2.lo
rdft/direct2.o
rdft/generic.lo
rdft/generic.o
rdft/hc2hc-direct.lo
rdft/hc2hc-direct.o
rdft/hc2hc-generic.lo
rdft/hc2hc-generic.o
rdft/hc2hc.lo
rdft/hc2hc.o
rdft/indirect.lo
rdft/indirect.o
rdft/khc2c.lo
rdft/khc2c.o
rdft/khc2hc.lo
rdft/khc2hc.o
rdft/kr2c.lo
rdft/kr2c.o
rdft/kr2r.lo
rdft/kr2r.o
rdft/librdft.la
rdft/nop.lo
rdft/nop.o
rdft/nop2.lo
rdft/nop2.o
rdft/plan.lo
rdft/plan.o
rdft/plan2.lo
rdft/plan2.o
rdft/problem.lo
rdft/problem.o
rdft/problem2.lo
rdft/problem2.o
rdft/rank-geq2-rdft2.lo
rdft/rank-geq2-rdft2.o
rdft/rank-geq2.lo
rdft/rank-geq2.o
rdft/rank0-rdft2.lo
rdft/rank0-rdft2.o
rdft/rank0.lo
rdft/rank0.o
rdft/rdft-dht.lo
rdft/rdft-dht.o
rdft/rdft2-inplace-strides.lo
rdft/rdft2-inplace-strides.o
rdft/rdft2-rdft.lo
rdft/rdft2-rdft.o
rdft/rdft2-strides.lo
rdft/rdft2-strides.o
rdft/rdft2-tensor-max-index.lo
rdft/rdft2-tensor-max-index.o
rdft/scalar/.deps/
rdft/scalar/.libs/
rdft/scalar/Makefile
rdft/scalar/hc2c.lo
rdft/scalar/hc2c.o
rdft/scalar/hfb.lo
rdft/scalar/hfb.o
rdft/scalar/librdft_scalar.la
rdft/scalar/r2c.lo
rdft/scalar/r2c.o
rdft/scalar/r2cb/.deps/
rdft/scalar/r2cb/.libs/
rdft/scalar/r2cb/Makefile
rdft/scalar/r2cb/codlist.lo
rdft/scalar/r2cb/codlist.o
rdft/scalar/r2cb/hb2_16.lo
rdft/scalar/r2cb/hb2_16.o
rdft/scalar/r2cb/hb2_20.lo
rdft/scalar/r2cb/hb2_20.o
rdft/scalar/r2cb/hb2_25.lo
rdft/scalar/r2cb/hb2_25.o
rdft/scalar/r2cb/hb2_32.lo
rdft/scalar/r2cb/hb2_32.o
rdft/scalar/r2cb/hb2_4.lo
rdft/scalar/r2cb/hb2_4.o
rdft/scalar/r2cb/hb2_5.lo
rdft/scalar/r2cb/hb2_5.o
rdft/scalar/r2cb/hb2_8.lo
rdft/scalar/r2cb/hb2_8.o
rdft/scalar/r2cb/hb_10.lo
rdft/scalar/r2cb/hb_10.o
rdft/scalar/r2cb/hb_12.lo
rdft/scalar/r2cb/hb_12.o
rdft/scalar/r2cb/hb_15.lo
rdft/scalar/r2cb/hb_15.o
rdft/scalar/r2cb/hb_16.lo
rdft/scalar/r2cb/hb_16.o
rdft/scalar/r2cb/hb_2.lo
rdft/scalar/r2cb/hb_2.o
rdft/scalar/r2cb/hb_20.lo
rdft/scalar/r2cb/hb_20.o
rdft/scalar/r2cb/hb_25.lo
rdft/scalar/r2cb/hb_25.o
rdft/scalar/r2cb/hb_3.lo
rdft/scalar/r2cb/hb_3.o
rdft/scalar/r2cb/hb_32.lo
rdft/scalar/r2cb/hb_32.o
rdft/scalar/r2cb/hb_4.lo
rdft/scalar/r2cb/hb_4.o
rdft/scalar/r2cb/hb_5.lo
rdft/scalar/r2cb/hb_5.o
rdft/scalar/r2cb/hb_6.lo
rdft/scalar/r2cb/hb_6.o
rdft/scalar/r2cb/hb_64.lo
rdft/scalar/r2cb/hb_64.o
rdft/scalar/r2cb/hb_7.lo
rdft/scalar/r2cb/hb_7.o
rdft/scalar/r2cb/hb_8.lo
rdft/scalar/r2cb/hb_8.o
rdft/scalar/r2cb/hb_9.lo
rdft/scalar/r2cb/hb_9.o
rdft/scalar/r2cb/hc2cb2_16.lo
rdft/scalar/r2cb/hc2cb2_16.o
rdft/scalar/r2cb/hc2cb2_20.lo
rdft/scalar/r2cb/hc2cb2_20.o
rdft/scalar/r2cb/hc2cb2_32.lo
rdft/scalar/r2cb/hc2cb2_32.o
rdft/scalar/r2cb/hc2cb2_4.lo
rdft/scalar/r2cb/hc2cb2_4.o
rdft/scalar/r2cb/hc2cb2_8.lo
rdft/scalar/r2cb/hc2cb2_8.o
rdft/scalar/r2cb/hc2cb_10.lo
rdft/scalar/r2cb/hc2cb_10.o
rdft/scalar/r2cb/hc2cb_12.lo
rdft/scalar/r2cb/hc2cb_12.o
rdft/scalar/r2cb/hc2cb_16.lo
rdft/scalar/r2cb/hc2cb_16.o
rdft/scalar/r2cb/hc2cb_2.lo
rdft/scalar/r2cb/hc2cb_2.o
rdft/scalar/r2cb/hc2cb_20.lo
rdft/scalar/r2cb/hc2cb_20.o
rdft/scalar/r2cb/hc2cb_32.lo
rdft/scalar/r2cb/hc2cb_32.o
rdft/scalar/r2cb/hc2cb_4.lo
rdft/scalar/r2cb/hc2cb_4.o
rdft/scalar/r2cb/hc2cb_6.lo
rdft/scalar/r2cb/hc2cb_6.o
rdft/scalar/r2cb/hc2cb_8.lo
rdft/scalar/r2cb/hc2cb_8.o
rdft/scalar/r2cb/hc2cbdft2_16.lo
rdft/scalar/r2cb/hc2cbdft2_16.o
rdft/scalar/r2cb/hc2cbdft2_20.lo
rdft/scalar/r2cb/hc2cbdft2_20.o
rdft/scalar/r2cb/hc2cbdft2_32.lo
rdft/scalar/r2cb/hc2cbdft2_32.o
rdft/scalar/r2cb/hc2cbdft2_4.lo
rdft/scalar/r2cb/hc2cbdft2_4.o
rdft/scalar/r2cb/hc2cbdft2_8.lo
rdft/scalar/r2cb/hc2cbdft2_8.o
rdft/scalar/r2cb/hc2cbdft_10.lo
rdft/scalar/r2cb/hc2cbdft_10.o
rdft/scalar/r2cb/hc2cbdft_12.lo
rdft/scalar/r2cb/hc2cbdft_12.o
rdft/scalar/r2cb/hc2cbdft_16.lo
rdft/scalar/r2cb/hc2cbdft_16.o
rdft/scalar/r2cb/hc2cbdft_2.lo
rdft/scalar/r2cb/hc2cbdft_2.o
rdft/scalar/r2cb/hc2cbdft_20.lo
rdft/scalar/r2cb/hc2cbdft_20.o
rdft/scalar/r2cb/hc2cbdft_32.lo
rdft/scalar/r2cb/hc2cbdft_32.o
rdft/scalar/r2cb/hc2cbdft_4.lo
rdft/scalar/r2cb/hc2cbdft_4.o
rdft/scalar/r2cb/hc2cbdft_6.lo
rdft/scalar/r2cb/hc2cbdft_6.o
rdft/scalar/r2cb/hc2cbdft_8.lo
rdft/scalar/r2cb/hc2cbdft_8.o
rdft/scalar/r2cb/librdft_scalar_r2cb.la
rdft/scalar/r2cb/r2cbIII_10.lo
rdft/scalar/r2cb/r2cbIII_10.o
rdft/scalar/r2cb/r2cbIII_12.lo
rdft/scalar/r2cb/r2cbIII_12.o
rdft/scalar/r2cb/r2cbIII_15.lo
rdft/scalar/r2cb/r2cbIII_15.o
rdft/scalar/r2cb/r2cbIII_16.lo
rdft/scalar/r2cb/r2cbIII_16.o
rdft/scalar/r2cb/r2cbIII_2.lo
rdft/scalar/r2cb/r2cbIII_2.o
rdft/scalar/r2cb/r2cbIII_20.lo
rdft/scalar/r2cb/r2cbIII_20.o
rdft/scalar/r2cb/r2cbIII_25.lo
rdft/scalar/r2cb/r2cbIII_25.o
rdft/scalar/r2cb/r2cbIII_3.lo
rdft/scalar/r2cb/r2cbIII_3.o
rdft/scalar/r2cb/r2cbIII_32.lo
rdft/scalar/r2cb/r2cbIII_32.o
rdft/scalar/r2cb/r2cbIII_4.lo
rdft/scalar/r2cb/r2cbIII_4.o
rdft/scalar/r2cb/r2cbIII_5.lo
rdft/scalar/r2cb/r2cbIII_5.o
rdft/scalar/r2cb/r2cbIII_6.lo
rdft/scalar/r2cb/r2cbIII_6.o
rdft/scalar/r2cb/r2cbIII_64.lo
rdft/scalar/r2cb/r2cbIII_64.o
rdft/scalar/r2cb/r2cbIII_7.lo
rdft/scalar/r2cb/r2cbIII_7.o
rdft/scalar/r2cb/r2cbIII_8.lo
rdft/scalar/r2cb/r2cbIII_8.o
rdft/scalar/r2cb/r2cbIII_9.lo
rdft/scalar/r2cb/r2cbIII_9.o
rdft/scalar/r2cb/r2cb_10.lo
rdft/scalar/r2cb/r2cb_10.o
rdft/scalar/r2cb/r2cb_11.lo
rdft/scalar/r2cb/r2cb_11.o
rdft/scalar/r2cb/r2cb_12.lo
rdft/scalar/r2cb/r2cb_12.o
rdft/scalar/r2cb/r2cb_128.lo
rdft/scalar/r2cb/r2cb_128.o
rdft/scalar/r2cb/r2cb_13.lo
rdft/scalar/r2cb/r2cb_13.o
rdft/scalar/r2cb/r2cb_14.lo
rdft/scalar/r2cb/r2cb_14.o
rdft/scalar/r2cb/r2cb_15.lo
rdft/scalar/r2cb/r2cb_15.o
rdft/scalar/r2cb/r2cb_16.lo
rdft/scalar/r2cb/r2cb_16.o
rdft/scalar/r2cb/r2cb_2.lo
rdft/scalar/r2cb/r2cb_2.o
rdft/scalar/r2cb/r2cb_20.lo
rdft/scalar/r2cb/r2cb_20.o
rdft/scalar/r2cb/r2cb_25.lo
rdft/scalar/r2cb/r2cb_25.o
rdft/scalar/r2cb/r2cb_3.lo
rdft/scalar/r2cb/r2cb_3.o
rdft/scalar/r2cb/r2cb_32.lo
rdft/scalar/r2cb/r2cb_32.o
rdft/scalar/r2cb/r2cb_4.lo
rdft/scalar/r2cb/r2cb_4.o
rdft/scalar/r2cb/r2cb_5.lo
rdft/scalar/r2cb/r2cb_5.o
rdft/scalar/r2cb/r2cb_6.lo
rdft/scalar/r2cb/r2cb_6.o
rdft/scalar/r2cb/r2cb_64.lo
rdft/scalar/r2cb/r2cb_64.o
rdft/scalar/r2cb/r2cb_7.lo
rdft/scalar/r2cb/r2cb_7.o
rdft/scalar/r2cb/r2cb_8.lo
rdft/scalar/r2cb/r2cb_8.o
rdft/scalar/r2cb/r2cb_9.lo
rdft/scalar/r2cb/r2cb_9.o
rdft/scalar/r2cf/.deps/
rdft/scalar/r2cf/.libs/
rdft/scalar/r2cf/Makefile
rdft/scalar/r2cf/codlist.lo
rdft/scalar/r2cf/codlist.o
rdft/scalar/r2cf/hc2cf2_16.lo
rdft/scalar/r2cf/hc2cf2_16.o
rdft/scalar/r2cf/hc2cf2_20.lo
rdft/scalar/r2cf/hc2cf2_20.o
rdft/scalar/r2cf/hc2cf2_32.lo
rdft/scalar/r2cf/hc2cf2_32.o
rdft/scalar/r2cf/hc2cf2_4.lo
rdft/scalar/r2cf/hc2cf2_4.o
rdft/scalar/r2cf/hc2cf2_8.lo
rdft/scalar/r2cf/hc2cf2_8.o
rdft/scalar/r2cf/hc2cf_10.lo
rdft/scalar/r2cf/hc2cf_10.o
rdft/scalar/r2cf/hc2cf_12.lo
rdft/scalar/r2cf/hc2cf_12.o
rdft/scalar/r2cf/hc2cf_16.lo
rdft/scalar/r2cf/hc2cf_16.o
rdft/scalar/r2cf/hc2cf_2.lo
rdft/scalar/r2cf/hc2cf_2.o
rdft/scalar/r2cf/hc2cf_20.lo
rdft/scalar/r2cf/hc2cf_20.o
rdft/scalar/r2cf/hc2cf_32.lo
rdft/scalar/r2cf/hc2cf_32.o
rdft/scalar/r2cf/hc2cf_4.lo
rdft/scalar/r2cf/hc2cf_4.o
rdft/scalar/r2cf/hc2cf_6.lo
rdft/scalar/r2cf/hc2cf_6.o
rdft/scalar/r2cf/hc2cf_8.lo
rdft/scalar/r2cf/hc2cf_8.o
rdft/scalar/r2cf/hc2cfdft2_16.lo
rdft/scalar/r2cf/hc2cfdft2_16.o
rdft/scalar/r2cf/hc2cfdft2_20.lo
rdft/scalar/r2cf/hc2cfdft2_20.o
rdft/scalar/r2cf/hc2cfdft2_32.lo
rdft/scalar/r2cf/hc2cfdft2_32.o
rdft/scalar/r2cf/hc2cfdft2_4.lo
rdft/scalar/r2cf/hc2cfdft2_4.o
rdft/scalar/r2cf/hc2cfdft2_8.lo
rdft/scalar/r2cf/hc2cfdft2_8.o
rdft/scalar/r2cf/hc2cfdft_10.lo
rdft/scalar/r2cf/hc2cfdft_10.o
rdft/scalar/r2cf/hc2cfdft_12.lo
rdft/scalar/r2cf/hc2cfdft_12.o
rdft/scalar/r2cf/hc2cfdft_16.lo
rdft/scalar/r2cf/hc2cfdft_16.o
rdft/scalar/r2cf/hc2cfdft_2.lo
rdft/scalar/r2cf/hc2cfdft_2.o
rdft/scalar/r2cf/hc2cfdft_20.lo
rdft/scalar/r2cf/hc2cfdft_20.o
rdft/scalar/r2cf/hc2cfdft_32.lo
rdft/scalar/r2cf/hc2cfdft_32.o
rdft/scalar/r2cf/hc2cfdft_4.lo
rdft/scalar/r2cf/hc2cfdft_4.o
rdft/scalar/r2cf/hc2cfdft_6.lo
rdft/scalar/r2cf/hc2cfdft_6.o
rdft/scalar/r2cf/hc2cfdft_8.lo
rdft/scalar/r2cf/hc2cfdft_8.o
rdft/scalar/r2cf/hf2_16.lo
rdft/scalar/r2cf/hf2_16.o
rdft/scalar/r2cf/hf2_20.lo
rdft/scalar/r2cf/hf2_20.o
rdft/scalar/r2cf/hf2_25.lo
rdft/scalar/r2cf/hf2_25.o
rdft/scalar/r2cf/hf2_32.lo
rdft/scalar/r2cf/hf2_32.o
rdft/scalar/r2cf/hf2_4.lo
rdft/scalar/r2cf/hf2_4.o
rdft/scalar/r2cf/hf2_5.lo
rdft/scalar/r2cf/hf2_5.o
rdft/scalar/r2cf/hf2_8.lo
rdft/scalar/r2cf/hf2_8.o
rdft/scalar/r2cf/hf_10.lo
rdft/scalar/r2cf/hf_10.o
rdft/scalar/r2cf/hf_12.lo
rdft/scalar/r2cf/hf_12.o
rdft/scalar/r2cf/hf_15.lo
rdft/scalar/r2cf/hf_15.o
rdft/scalar/r2cf/hf_16.lo
rdft/scalar/r2cf/hf_16.o
rdft/scalar/r2cf/hf_2.lo
rdft/scalar/r2cf/hf_2.o
rdft/scalar/r2cf/hf_20.lo
rdft/scalar/r2cf/hf_20.o
rdft/scalar/r2cf/hf_25.lo
rdft/scalar/r2cf/hf_25.o
rdft/scalar/r2cf/hf_3.lo
rdft/scalar/r2cf/hf_3.o
rdft/scalar/r2cf/hf_32.lo
rdft/scalar/r2cf/hf_32.o
rdft/scalar/r2cf/hf_4.lo
rdft/scalar/r2cf/hf_4.o
rdft/scalar/r2cf/hf_5.lo
rdft/scalar/r2cf/hf_5.o
rdft/scalar/r2cf/hf_6.lo
rdft/scalar/r2cf/hf_6.o
rdft/scalar/r2cf/hf_64.lo
rdft/scalar/r2cf/hf_64.o
rdft/scalar/r2cf/hf_7.lo
rdft/scalar/r2cf/hf_7.o
rdft/scalar/r2cf/hf_8.lo
rdft/scalar/r2cf/hf_8.o
rdft/scalar/r2cf/hf_9.lo
rdft/scalar/r2cf/hf_9.o
rdft/scalar/r2cf/librdft_scalar_r2cf.la
rdft/scalar/r2cf/r2cfII_10.lo
rdft/scalar/r2cf/r2cfII_10.o
rdft/scalar/r2cf/r2cfII_12.lo
rdft/scalar/r2cf/r2cfII_12.o
rdft/scalar/r2cf/r2cfII_15.lo
rdft/scalar/r2cf/r2cfII_15.o
rdft/scalar/r2cf/r2cfII_16.lo
rdft/scalar/r2cf/r2cfII_16.o
rdft/scalar/r2cf/r2cfII_2.lo
rdft/scalar/r2cf/r2cfII_2.o
rdft/scalar/r2cf/r2cfII_20.lo
rdft/scalar/r2cf/r2cfII_20.o
rdft/scalar/r2cf/r2cfII_25.lo
rdft/scalar/r2cf/r2cfII_25.o
rdft/scalar/r2cf/r2cfII_3.lo
rdft/scalar/r2cf/r2cfII_3.o
rdft/scalar/r2cf/r2cfII_32.lo
rdft/scalar/r2cf/r2cfII_32.o
rdft/scalar/r2cf/r2cfII_4.lo
rdft/scalar/r2cf/r2cfII_4.o
rdft/scalar/r2cf/r2cfII_5.lo
rdft/scalar/r2cf/r2cfII_5.o
rdft/scalar/r2cf/r2cfII_6.lo
rdft/scalar/r2cf/r2cfII_6.o
rdft/scalar/r2cf/r2cfII_64.lo
rdft/scalar/r2cf/r2cfII_64.o
rdft/scalar/r2cf/r2cfII_7.lo
rdft/scalar/r2cf/r2cfII_7.o
rdft/scalar/r2cf/r2cfII_8.lo
rdft/scalar/r2cf/r2cfII_8.o
rdft/scalar/r2cf/r2cfII_9.lo
rdft/scalar/r2cf/r2cfII_9.o
rdft/scalar/r2cf/r2cf_10.lo
rdft/scalar/r2cf/r2cf_10.o
rdft/scalar/r2cf/r2cf_11.lo
rdft/scalar/r2cf/r2cf_11.o
rdft/scalar/r2cf/r2cf_12.lo
rdft/scalar/r2cf/r2cf_12.o
rdft/scalar/r2cf/r2cf_128.lo
rdft/scalar/r2cf/r2cf_128.o
rdft/scalar/r2cf/r2cf_13.lo
rdft/scalar/r2cf/r2cf_13.o
rdft/scalar/r2cf/r2cf_14.lo
rdft/scalar/r2cf/r2cf_14.o
rdft/scalar/r2cf/r2cf_15.lo
rdft/scalar/r2cf/r2cf_15.o
rdft/scalar/r2cf/r2cf_16.lo
rdft/scalar/r2cf/r2cf_16.o
rdft/scalar/r2cf/r2cf_2.lo
rdft/scalar/r2cf/r2cf_2.o
rdft/scalar/r2cf/r2cf_20.lo
rdft/scalar/r2cf/r2cf_20.o
rdft/scalar/r2cf/r2cf_25.lo
rdft/scalar/r2cf/r2cf_25.o
rdft/scalar/r2cf/r2cf_3.lo
rdft/scalar/r2cf/r2cf_3.o
rdft/scalar/r2cf/r2cf_32.lo
rdft/scalar/r2cf/r2cf_32.o
rdft/scalar/r2cf/r2cf_4.lo
rdft/scalar/r2cf/r2cf_4.o
rdft/scalar/r2cf/r2cf_5.lo
rdft/scalar/r2cf/r2cf_5.o
rdft/scalar/r2cf/r2cf_6.lo
rdft/scalar/r2cf/r2cf_6.o
rdft/scalar/r2cf/r2cf_64.lo
rdft/scalar/r2cf/r2cf_64.o
rdft/scalar/r2cf/r2cf_7.lo
rdft/scalar/r2cf/r2cf_7.o
rdft/scalar/r2cf/r2cf_8.lo
rdft/scalar/r2cf/r2cf_8.o
rdft/scalar/r2cf/r2cf_9.lo
rdft/scalar/r2cf/r2cf_9.o
rdft/scalar/r2r.lo
rdft/scalar/r2r.o
rdft/scalar/r2r/.deps/
rdft/scalar/r2r/.libs/
rdft/scalar/r2r/Makefile
rdft/scalar/r2r/codlist.lo
rdft/scalar/r2r/codlist.o
rdft/scalar/r2r/e01_8.lo
rdft/scalar/r2r/e01_8.o
rdft/scalar/r2r/e10_8.lo
rdft/scalar/r2r/e10_8.o
rdft/scalar/r2r/librdft_scalar_r2r.la
rdft/simd/Makefile
rdft/simd/altivec/.deps/
rdft/simd/altivec/Makefile
rdft/simd/avx/.deps/
rdft/simd/avx/Makefile
rdft/simd/common/Makefile
rdft/simd/neon/.deps/
rdft/simd/neon/Makefile
rdft/simd/sse2/.deps/
rdft/simd/sse2/Makefile
rdft/solve.lo
rdft/solve.o
rdft/solve2.lo
rdft/solve2.o
rdft/vrank-geq1-rdft2.lo
rdft/vrank-geq1-rdft2.o
rdft/vrank-geq1.lo
rdft/vrank-geq1.o
rdft/vrank3-transpose.lo
rdft/vrank3-transpose.o
reodft/.deps/
reodft/.libs/
reodft/Makefile
reodft/conf.lo
reodft/conf.o
reodft/libreodft.la
reodft/redft00e-r2hc-pad.lo
reodft/redft00e-r2hc-pad.o
reodft/reodft00e-splitradix.lo
reodft/reodft00e-splitradix.o
reodft/reodft010e-r2hc.lo
reodft/reodft010e-r2hc.o
reodft/reodft11e-r2hc-odd.lo
reodft/reodft11e-r2hc-odd.o
reodft/reodft11e-radix2.lo
reodft/reodft11e-radix2.o
reodft/rodft00e-r2hc-pad.lo
reodft/rodft00e-r2hc-pad.o
simd-support/.deps/
simd-support/.libs/
simd-support/Makefile
simd-support/altivec.lo
simd-support/altivec.o
simd-support/avx.lo
simd-support/avx.o
simd-support/libsimd_sse2_nonportable.la
simd-support/libsimd_sse2_nonportable_la-sse2-nonportable.lo
simd-support/libsimd_sse2_nonportable_la-sse2-nonportable.o
simd-support/libsimd_support.la
simd-support/neon.lo
simd-support/neon.o
simd-support/sse2.lo
simd-support/sse2.o
simd-support/taint.lo
simd-support/taint.o
stamp-h1
support/Makefile
tests/.deps/
tests/.libs/
tests/Makefile
tests/bench
tests/bench-bench.o
tests/bench-fftw-bench.o
tests/bench-hook.o
threads/.deps/
threads/Makefile
tools/.deps/
tools/.libs/
tools/Makefile
tools/fftw-wisdom
tools/fftw-wisdom-to-conf
tools/fftw-wisdom.1
tools/fftw_wisdom-fftw-wisdom.o
tools/fftw_wisdom.1
